:root {
    --cor-fundo: #3e6b46;
    --cor-botao: #3e6b46;
    --cor-botao-hover: #315538;
    --cor-container: #f7f7f7;
    --cor-borda: #ddd;
    --cor-texto-principal: #333;
    --raio-borda: 8px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto-principal);
    

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}


.main-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
    flex-wrap: wrap; 
}


.form-container {
    background-color: var(--cor-container);
    padding: 40px;
    border-radius: var(--raio-borda);
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.1);
    width: 320px;

    
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.form-container h2 {
    text-align: center;
    margin: 0 0 38px 0;
    font-size: 24px;
    font-weight: 500;
    
}


.form-container input {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 38px;
    border: 1px solid var(--cor-borda);
    border-radius: var(--raio-borda);
    font-size: 16px;
    box-sizing: border-box;
}

.form-container input:focus {
    outline: none;
    border-color: var(--cor-botao);
    box-shadow: 0 0 0 2px rgba(62, 107, 70, 0.2);
}


.form-container button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: var(--raio-borda);
    background-color: var(--cor-botao);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom:5px;
}

.form-container button:hover {
    background-color: var(--cor-botao-hover);
}