<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Dados - MiniMarket</title>
    <link rel="stylesheet" href="../CSS/listar-produto.css">
    <script src="../JavaScript/script.js"></script>
    <script src="../JavaScript/listar-produto.js"></script>
</head>
<body>
    <header class="header">
        <h1><img src="../Img/logo_mm.png" alt="MiniMarket"></h1>
        <ul class="list-header">
            <li class="list-link"><a href="cadastrar-produto.html">Cadastrar produtos</a></li>
            <li class="list-link"><a href="listar-produto.html">Ver produtos</a></li>
            <li class="list-link"><a href="home.html">Perfil</a></li>
        </ul>
    </header>

    <main class="main-container">
        <div class="content-wrapper">
            <div class="data-section">
               <form id="form-cadastro">
                <h3>Produtos</h3>
                <ul class="product" id="product-1">
                    <li class="list-class" id="list-id">
                        <ul class="description-list">
                            <li>[Nome]</li>
                            <li>[Quantidade]</li>
                            <li><button type="button" id="botao-editar">Editar ✏️</button></li>
                            <li><button type="button" id="botao-deletar">Deletar ❌</button></li>
                        </ul>
                    </li>
                </ul>
                </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>