<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login e Cadastro</title>
    <link rel="stylesheet" href="../CSS/cadastro.css">
    <script src="../JavaScript/script.js"></script>
</head>
<body>

    <main class="main-container">
            <aside>
        <div  class="form-container">
        <input type="number" required id="id" placeholder="Digite um ID">
        <input type="text" readonly id="user-name">
        <input type="text" readonly id="user-email">
        <input type="tel" readonly id="user-phone">
        <input type="text" readonly id="user-documento">
        <button type="button" id="botao-criar-conta" onclick="getDados()">Ver Dados</button>
        </div>
    </aside>

    </main>


</body>
</html>